{% load static %}
<div class="col-md-4 mb-4">
    <div class="card">
        {% if product.main_image %}
            <img src="{{ MEDIA_URL  }}catalog/600x400.svg" class="card-img-top" style="height: 200px; object-fit: cover;">
        {% endif %}

        <div class="card-body">
            <h5>{{ product.name }}</h5>

            <p class="fw-bold">
                {% if product.discount_price %}
                    <span class="text-danger">{{ product.discount_price }} ₽</span>
                    <span class="text-muted text-decoration-line-through">{{ product.price }} ₽</span>
                {% else %}
                    {{ product.price }} ₽
                {% endif %}
            </p>

            <!-- ВНИМАНИЕ: используем quantity, НЕ in_stock -->
            {% if product.quantity > 0 %}
                <p class="text-success">Есть ({{ product.quantity }} шт.)</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary w-100">Купить</button>
                </form>
            {% else %}
                <p class="text-danger">Нет в наличии</p>
                <button class="btn btn-secondary w-100" disabled>Нет</button>
            {% endif %}
        </div>
    </div>
</div>